*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --glassBorder: 1px solid rgba(255,255,255,0.06);
  --mainGradiant: linear-gradient(45deg, purple 0%, rgb(255, 123, 0) 100%);
}
a{
  text-decoration: none;
  color: gray;
  outline: none;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
}
.download-file{
   display: grid;
   position: fixed;
   height: 100vh;
   width: 250px;
   right: 0;
   place-items: center;
   z-index: 9999999999;
   background: black;
}
.download-file a{
  color:white;
  padding: 0 10px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}
ul li{
  list-style-type: none;
}
/* PAGE HEADER  */
.header-wrapper{
  display: block;
  position: fixed;
  top: 0;
  height: 90px;
  width: 100%;
  background: linear-gradient(45deg, purple 0%, rgb(255, 123, 0) 100%);
}
.page-header{
  top: 0;
  height: 70px;
  display: flex;
  position: fixed;
  width:100%;
  padding: 0 1rem;
  z-index: 9999999;
  backdrop-filter: blur(3px);
  border:2px solid rgba(255,255,255,0.06);
  box-shadow: 2px 15px 10px rgba(0,0,0,.5), 0px 0px 10px rgba(0,0,0,.5) inset;
  border-radius: 0  0 5rem 5rem;
  background: rgba(255,255,255,0.06);
}
.page-header ul li a{
  margin: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  color: white;
  backdrop-filter: blur(2px);
  border-radius: 3rem 1rem 3rem 1rem;
  border:1px solid rgba(255,255,255,0.06);
  background: rgba(255,255,255,0.06);
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.445);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3),0px 0px 5px rgba(0, 0, 0, 0.3) inset;
}
.page-nav ul li a:hover{
  background: rgba(0,0,0,0.3);
  box-shadow: 2px 2px 10px rgba(255,255,255,0.4);
}
.page-header .logo{
  width: 80px;
}
.page-header .logo img{
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.page-header .page-nav{
  display: grid;
  width: 100%;
  gap: 1rem;
  grid-template-columns: calc(100% - 200px) 200px;
}
.page-header .menu-items{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
/* BODY CONTENT  */

.wrapper{
  width: 100%;
  height: 100%;
  padding-top: 80px;
  min-height: 100vh !important;
  background: linear-gradient(45deg,purple 0%,orange 100%);
}
.content-wrapper{
  display: grid;
  gap: .5rem;
  grid-template-columns: 3fr 1fr;
}
.download-btn{
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
}

/* PLAY LIST  */
#audioPlayer{
  position: fixed;
  bottom: 0;
  z-index: 999999;
  width: calc(100% + 16px);
  height: 30px;
  margin:0 auto;
  left: -8px;
  visibility: hidden;
}
#audioPlayer.show{
  visibility: visible;
  opacity: .5px;
}
.playList{
  border: 1px solid rgba(255,255,255,0.08);
  background:rgba(255, 166, 0, 0.174);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 1rem;
  padding:10px;
  margin-top: 10px;
  margin-left: 10px;
  height: calc(100vh - 90px - 18px);
}

li.heading{
  text-align: center;
  width: 100%;
  display: grid;
  grid-template-columns: 30px 3fr 2fr 1fr .5fr;
  padding: 3px 10px;
  background: rgba(128, 0, 128, 0.3);
  font-weight: bold;
  color: rgb(206, 203, 203);
  border-radius: 1rem;
  border: 2px solid rgba(255,255,255,0.08);
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5), 1px 1px 15px rgba(0, 0, 0,0.7) inset;
}
li.song{
  color: rgb(27, 27, 27);
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 30px 3fr 2fr 1fr .5fr;
  background:rgba(255,255,255,0.08);
  margin-top: 6px;
  padding: 3px 10px;
  border-radius: 1rem;
  backdrop-filter: blur(2px);
  border: 2px solid rgba(255,255,255,0.08);
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.3), 1px 5px 10px rgba(0, 0, 0, 0.3) inset;
}

.song-cover{
  width: 30px;
  height: 30px;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
}
li.song span, li.song a{
  border: 1px solid rgba(128, 0, 128, 0.253);
  margin: 0 1px;
  border-top:none;
  border-bottom: none;
  border-radius: 5rem;
  box-shadow: 0px 10px 10px rgba(128, 0, 128, 0.1);
}
li.song span:nth-child(1){
  border-left: none;
}
.current-song{
  background: rgba(255, 166, 0, 0.487) !important;
}
.fa-play{
  padding: 5px;
}
.fa-play:hover{
  text-decoration: none !important;
  color: green !important;
}
/* WIDGET  */

aside{
  overflow-y: auto;
  height: calc(100vh - 90px - 1rem);
  margin-top: .5rem;
  padding-top: .5rem;
  border-radius: 1rem;
  background: linear-gradient(45deg, purple 0%, rgb(255, 123, 0) 100%);
  background-position: center;
  background-size: cover;
  box-shadow: 5px 5px 10px rgba(26, 25, 25, 0.6);
}

.widget{
  padding-top: 5px;
  margin: 5px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 1rem;
  backdrop-filter: blur(2px);
  background: rgba(0,0,0,0.3);
  box-shadow: 5px 5px 10px rgba(26, 25, 25, 0.6),0px 0px 15px rgba(255, 255, 255, 0.6)inset;
}
.widget-title{
  text-align: center;
  color: rgb(0, 0, 0);
  margin-bottom: -3px;
  font-size: 1.5rem;
  text-shadow: 2px 3px 1px rgba(170, 102, 0, 0.192);
}
.widget-inner ul{
  padding-left: 10px;
}
.widget-inner ul li{
  display: block;
  width: 100%;
}

.widget-inner ul li a{
  display: block;
  padding: 3px;
  font-weight: normal;
  border-bottom: 2px solid rgba(243, 227, 175, 0.1);
  color: rgba(212, 212, 212, 0.87);
  text-shadow:  2px 4px 5px black;
}
.widget-inner ul li:nth-child(5) a{
  border-bottom: none;
}

body{
  overflow:hidden;
}
#holder{
  position: absolute;
  top: 0;
  right: -260px;
  bottom: 0;
  width: 250px;
  padding: 10px;
  padding-top: 30px;
  transition: 1s;
  z-index: 9999999999999;
  background: rgba(128, 0, 128, 0.405);
  border-radius: 1rem 0 0 1rem;
  backdrop-filter: blur(2px);
  border-left: 2px solid rgba(255,255,255,0.08);
  box-shadow: -15px 20px 5px rgba(0, 0, 0, 0.8), 10px 5px 5px rgba(0, 0, 0, 0.282) inset;
}
#holder.show{
  right: 0;
  transition: 1s;
  max-width: 250px;
}
#holder ul li{
  color: white;
  display: grid;
  padding: .2rem;
  font-size: 15px;
  margin-bottom: .2rem;
  grid-template-columns: 100px 2fr;
  justify-content: space-between;
  border-radius: 0 .5rem .5rem 0;
  border-bottom: 1px solid rgba(255, 166, 0, 0.2);
  box-shadow: 4px 0px 3px rgba(212, 212, 212, 0.522);
}
#holder ul li span{
  color: rgba(255, 254, 254, 0.823);
  letter-spacing: .7px;
  font-style: italic;
  font-weight: 700;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 1px 3px 1px rgba(0, 0, 0, 0.5);
}
#holder-img{
  width: 225px;
  margin: 0 auto;
  margin-bottom: 1rem;
  object-fit: cover;
  border-radius: .3rem;
  box-shadow: 5px 3px 10px rgba(212, 212, 212, 0.87);
  object-position: center;
}

.close{
  width: 22px;
  height: 22px;
  position: absolute;
  top: 3px;
  color: red;
  left: 3px;
  border-radius: .5rem;
  background: rgba(128, 0, 128, 0.542);
  text-align: center;
  box-shadow: 1px 2px 5px rgba(255,255,255,0.08);
}
.close:hover{
  color: rgba(255, 0, 0, 0.618);
}
#download-link{
  display: grid;
  align-items: center;
  align-self: center;
  justify-items: center;
  justify-self: center;
  margin: 0 auto;
  font-weight: bold;
  border-radius: 1rem;
  padding: 10px 0;
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255,255,255, 0.03);
  background: rgba(255, 255, 255, 0.686);
  color:rgb(0, 0, 0);
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5),0px 0px 10px rgba(0, 0, 0, 0.6) inset;
}
#download-link:hover{
  text-decoration: none;
  background: rgba(0, 0, 0, 0.618);
}

/* GENRE */
.music-wrapper{
  display: flex;
  margin-top: .6rem;
  border-radius: 1rem;
  flex-wrap: wrap;
  height: calc(100vh - 105px);
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.439);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6),
  -1px 1px 5px rgba(128, 0, 128, 0.1) inset;
  overflow-y: auto;
}
.song-bagde{
  width: 150px;
  height: 170px;
  margin-top: .5rem;
  overflow: hidden;
  display: grid;
  position: relative;
  align-items: end;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.06);
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.6),
  0px 0px 15px rgb(0, 0, 0) inset;
}
.song-bagde .cover{
  width: 80px;
  height: 80px;
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-items: center;
  border-radius: 50%;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.06);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8), 0px 0px 10px rgba(0, 0, 0, 0.8) inset;
}
.song-bagde:hover .cover{
  visibility: visible;
}
.song-bagde .song-title {
  color: white;
  padding: 10px 5px;
  text-align: center;
  border: 1px solid rgba(255,255,255,.096);
  background:rgba(255, 255, 255, 0.09);
  backdrop-filter: blur(5px);
  text-shadow: 1px 2px rgba(0,0,0,0.5);
  border-radius:  0rem 10rem 0rem 0rem;
  box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.5),
  0px 0px 10px rgba(0, 0, 0, 0.5) inset;
}
.song-bagde .song-title span{
  font-size: 15px;
  letter-spacing: 1.5;
}
.music-span{
  position: absolute;
  right: 2px;
  bottom: 23px;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  text-shadow: 1px 5px 7px rgba(0, 0, 0, 0.563);
}
.manu-span{
  position: absolute;
  right: 5px;
  top: 2px;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);  
}
.play-btn{
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  color: rgb(2, 53, 2);
  cursor: pointer;
}
.song-dits{
  position: absolute;
  display: grid;
  top:0;
  left: 0;
  transition: 5s;
  right: 0;
  visibility: hidden;
  place-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 100vh;
  transition: 5s smooth;
  background: rgba(8, 0, 0, 0.707) !important;
  z-index: 9999999999999;
  backdrop-filter: blur(5px);
}

.song-dits.show{
  visibility: visible;
}
.song-img{
  position: relative;
  left: -20px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 0 auto;
}
.dits-content{
  min-width: 180px;
  height: 100%;
  padding: 10px;
  backdrop-filter: blur(4px);
  border-radius: 50% 1rem 1rem 1rem;
  background: rgba(255, 255, 255, 0.481);
  border: 1px solid rgba(255,255,255,0.06);
  box-shadow: 4px 4px 20px rgba(0,0,0,0.5),
  0px 0px 10px rgba(0,0,0,0.5) inset !important;
  z-index: 999999999999999999999999999999999;
}
.downloadBtn{
  display: flex;
  background: rgba(128, 0, 128, 0.261)!important;
  width: 70%;
  padding: 5px;
  margin: 2px auto;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  color: white;
  text-decoration: none;
  box-shadow: 4px 4px 5px rgba(0,0,0,0.5),
  0px 0px 10px rgba(0,0,0,0.5) inset;
}

.downloadBtn:hover{
  color: black;
  text-decoration: none;
}

.closeIfo{
  position: relative;
  right: 0;
  top: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  color: red;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  background: rgba(199, 5, 5, 0.323);
  border-radius: 50%;
  width: 35px;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(196, 7, 7, 0.255) !important;
  box-shadow: 0px 0px 10px rgba(255, 253, 253, 0.611),
  0px 0px 5px rgba(0, 0, 0, 0.529) inset !important;
  height: 35px;
}
.closeIfo:hover{
  color: black;
  background: red;
}
.pageHeading{
  position: absolute;
  top: 72px;
  left: 0;
  height: 27px;
  font-size: 1.5rem;
  padding-right: 1rem;
  border-radius: 0rem 5rem 1rem 0;
  background: rgba(255, 255, 255, 0.371);
  z-index: 90;
  font-weight: bold;
  color: white;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255,255,255,0.06);
  box-shadow: 5px 0px 10px rgba(255, 255, 255, 0.5),
  0px 0px 5px rgba(0, 0, 0, 0.5) inset;
}
.span{
  color: rgb(51, 51, 51);
}

/* SINGLE PAGE  */
.main.single{
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}
.song-image{
  height: 250px;
  display: grid;
  place-content: center;
}
.song-image img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border:var(--glassBorder);
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.9),
   0px 0px 10px rgba(0, 0, 0, 0.5) inset;
}
.other-songs{
  padding: 0.3rem;
  box-shadow: -5px -0px 15px rgba(0, 0, 0, 0.5);
}
.other-song{
  display: grid;
  padding: 1px 10px;
  margin-top: .4rem;
  border-radius: 1rem;
  border: var(--glassBorder);
  grid-template-columns: 2fr 1fr 0.5fr;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
}